.App {
  display: flex;
  justify-content: center;
}
.formSection {
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 10px #c8c8c8;
  background: #f1f3f6;
  border-radius: 10px;
}
.navbar {
  height: 50px;
  width: 98%;
  border-radius: 5px;
  background: #f1f3f6;
  border: 1px solid grey;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.nav-item {
  padding: 0px;
}
